<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>战魂震慑</string>
		<key>regularWork</key>
		<string>战士</string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的血量上限</string>
		<key>subSkill</key>
		<string>战斗开始时穿戴英雄附近半径为5的圆形范围内的敌方近战单位闪避率降低3%，穿戴英雄受到的伤害降低7.5%，持续20秒</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>埃多#14</string>
			<string>布隆#17</string>
			<string>赫尔#18</string>
			<string>莫德#20</string>
			<string>沙克#27</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>梦魇萦绕</string>
		<key>regularWork</key>
		<string>游侠</string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄的攻击速度提升2%，且每普攻8次后造成的物理伤害提升1.5%，最多叠加3层</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>埃欧#16</string>
			<string>莫德#20</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>善恶之心</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string>牟庆</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>牟庆提升4%的血量上限和攻击力</string>
		<key>subSkill</key>
		<string>牟庆受到的伤害降低7.5%,且每次佛/鬼状态结束后提升自身8%的攻击速度，持续8秒</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>杰菲#10</string>
			<string>伊比希#13</string>
			<string>欧特#15</string>
			<string>萨克#19</string>
			<string>泽特#24</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>龙魂之力</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string>缇斯芬</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%的攻击力</string>
		<key>subSkill</key>
		<string>缇斯芬每次召唤灵魂雏龙后，自身及其所有雏龙的攻击速度提升8%，暴击率提升2%，持续8秒</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>伊比希#13</string>
			<string>布隆#17</string>
			<string>亚图鲁#23</string>
			<string>盖兹#29</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>裂空战意</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string>帕里斯</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%的攻击力</string>
		<key>subSkill</key>
		<string>战斗开始时，帕里斯的暴击率提升2%，暴击伤害提升9%，持续8秒，每次释放陨灭光波时再次获得该效果</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>查姆#11</string>
			<string>埃多#14</string>
			<string>莫德#20</string>
			<string>亚图鲁#23</string>
			<string>扎克#30</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>英雄同盟</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上我方所有英雄2.4%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>莫德#20</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>恐惧光环</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄周围的敌方单位受到伤害增加1.6%，穿戴英雄的近战攻击会额外对敌方产生破甲效果。破甲效果为敌方单位受到的伤害增加1.6%。(光环效果不可叠加、破甲效果不可叠加，破甲效果对建筑单位无效)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>杰菲#10</string>
			<string>埃多#14</string>
			<string>赫尔#18</string>
			<string>扎克#30</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>虔诚祝福</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄每次对英雄单位产生治疗后，受治疗英雄获得1.6%闪避和2.4%攻击速度，持续5秒，该效果不可叠加</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>查姆#11</string>
			<string>布隆#17</string>
			<string>林德#22</string>
			<string>狄哈#25</string>
			<string>伊夫#32</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>杀戮盛宴</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%攻击力</string>
		<key>subSkill</key>
		<string>每次英雄的普通攻击暴击后，提升自身0.32%的暴击伤害，最多叠加15次</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>埃多#14</string>
			<string>兰姆#21</string>
			<string>沙克#27</string>
			<string>伊夫#32</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>痛苦缠身</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>开场后，穿戴英雄对前方的敌方单位产生诅咒，使其在本场战斗中产生的伤害降低2.4%。(该效果不可叠加)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>莫沃#12</string>
			<string>埃欧#16</string>
			<string>林德#22</string>
			<string>普尔#28</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>进化装甲</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄开场后当前血量降低至最大生命值的65%，并获得等同于英雄最大生命值39.8%的护盾</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>杰菲#10</string>
			<string>欧特#15</string>
			<string>萨克#19</string>
			<string>泽特#24</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>重甲侵蚀</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，所有地方战士和圣骑英雄每5秒提升0.9%所受伤害，最多提升至3.6%。(多个同名套装效果不叠加)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>埃欧#16</string>
			<string>赫尔#18</string>
			<string>萨克#19</string>
			<string>乌尔#26</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>利刃回旋</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄每近战普通攻击3次后会在下次普通攻击时对附近敌方单位造成自身攻击力10%的物理伤害。(该伤害对建筑无效)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>埃多#14</string>
			<string>布隆#17</string>
			<string>莫德#20</string>
			<string>亚图鲁#23</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>恶鬼狂怒</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄血量首次降至25%以下时会嘲讽前方所有非巨龙敌方单位(嘲讽范围随等级扩大)，持续15秒，穿戴英雄血量维持在25%以下累计10秒后会永久提高2.4%闪避率和3.6%物理抗性</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>埃多#14</string>
			<string>沙克#27</string>
			<string>盖兹#29</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>破风龙息</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.2%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，我方巨龙攻击速度和命中率提升2%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>埃欧#16</string>
			<string>盖兹#29</string>
			<string>伊夫#32</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>绝境意志</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场时，我方所有近战部队单位阵亡时为1个附近随机近战部队单位增加1个相当于该阵亡单位最大生命值1%的护盾，已有该护盾的近战部队单位无法再次获得。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>莫沃#12</string>
			<string>布隆#17</string>
			<string>赫尔#18</string>
			<string>莫德#20</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>神之锻造</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄每5次物理远程普攻后，自身及其召唤物伤害减免提升0.8%、暴击率提升0.4%，最多叠加到5层</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>萨克#19</string>
			<string>亚图鲁#23</string>
			<string>乌尔#26</string>
			<string>沙克#27</string>
			<string>盖兹#29</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>火药制备</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>场上所有部队的物理伤害提升5%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>伊比希#13</string>
			<string>埃欧#16</string>
			<string>莫德#20</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>历战之躯</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄血量高于50%时，受到的伤害降低4%，血量低于50%时，每秒会恢复0.5%的血量</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>杰菲#10</string>
			<string>亚图鲁#23</string>
			<string>狄哈#25</string>
			<string>芬恩#31</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>奥数光辉</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>场上所有部队的魔法伤害提升5%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>查姆#11</string>
			<string>赫尔#18</string>
			<string>林德#22</string>
			<string>狄哈#25</string>
			<string>伊夫#32</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<false/>
		<key>hunXiaName</key>
		<string>奥义精通</string>
		<key>regularWork</key>
		<string>法师</string>
		<key>regularHero</key>
		<string></string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄的攻击速度提升2%，且每普攻8次后造成的魔法伤害提升1.5%，最多叠加3层</string>
		<key>awakeMainSkill</key>
		<string></string>
		<key>awakeSubSkill</key>
		<string></string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>杰菲#10</string>
			<string>查姆#11</string>
			<string>赫尔#18</string>
			<string>林德#22</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>炼金狂暴</string>
		<key>regularWork</key>
		<string></string>
		<key>regularHero</key>
		<string>霍普尼娅</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.7%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>霍普尼娅投掷变形药剂产生的降低伤害效果提升4.1%，腐蚀药剂产生的易伤效果提升8.1%</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)1.6%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>霍普尼娅投掷变形药剂产生的降低伤害效果提升4.5%，腐蚀药剂产生的易伤效果提升8.9%，且炼金甲虫喷出的魔力粉末会对范围内单位所在的整个军团生效</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>林德#22</string>
			<string>沙克#27</string>
			<string>普尔#28</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>灵魂收割者</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%攻击力</string>
		<key>subSkill</key>
		<string>场上每有一个英雄死亡，提升穿戴英雄0.4%攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>awakeSubSkill</key>
		<string>场上每有一个英雄死亡，提升穿戴英雄0.4%攻击力、0.4%的暴击伤害。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>杰菲#10</string>
			<string>欧特#15</string>
			<string>萨克#19</string>
			<string>伊夫#32</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>定向打击</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄攻击被控制而无法移动的单位时，造成的伤害提升4%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄攻击被控制而无法移动、被缴械、被沉默的单位时，造成的伤害提升4%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>查姆#11</string>
			<string>埃欧#16</string>
			<string>兰姆#21</string>
			<string>普尔#28</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>刚烈威慑</string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%血量</string>
		<key>subSkill</key>
		<string>穿戴英雄受到伤害时，减少攻击者10%攻击力，持续3秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升6%血量</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄受到伤害时，减少攻击者10%攻击力和4%命中率，持续5秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>莫沃#12</string>
			<string>萨克#19</string>
			<string>狄哈#25</string>
			<string>普尔#28</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>神圣护盾</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄开场后会获得一个最多可以抵挡自身最大生命值4%伤害的护盾</string>
		<key>subSkill</key>
		<string>开场后，每过10秒，穿戴英雄会获得一个护盾，最多抵挡自身最大生命值2%的伤害，最多释放5次护盾</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄开场后会获得一个最多可以抵挡自身最大生命值6%伤害的护盾</string>
		<key>awakeSubSkill</key>
		<string>开场后，每过10秒，穿戴英雄会获得一个护盾，最多抵挡自身最大生命值2%的伤害，最多释放5次护盾。穿戴英雄有护盾时，闪避率提升2%</string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>埃多#14</string>
			<string>欧特#15</string>
			<string>亚图鲁#23</string>
			<string>泽特#24</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>自适应调节</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄会提升2%的攻击速度和吸血效果</string>
		<key>subSkill</key>
		<string>穿戴英雄的血量高于50%时，提升2%的攻击力和攻击速度，穿戴英雄的血量低于50%时，提升2%的吸血效果和受治疗效果加成</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄会提升3%的攻击速度和吸血效果</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄永久提升2%的攻击力和攻击速度，穿戴英雄的血量低于50%时，提升2%的吸血效果和受治疗效果加成</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>莫沃#12</string>
			<string>布隆#17</string>
			<string>林德#22</string>
			<string>盖兹#29</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>死亡之舞</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升3%闪避率和3%命中率</string>
		<key>subSkill</key>
		<string>穿戴英雄开场后会立刻提升4%的闪避率/命中率/暴击率/吸血效果，持续20秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升4.5%闪避率和4.5%命中率</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄开场后会立刻提升4%的闪避率/命中率/暴击率/吸血效果，持续35秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>伊比希#13</string>
			<string>赫尔#18</string>
			<string>莫德#20</string>
			<string>扎克#30</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>战鼓激励</string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方近战部队(攻城单位除外)1.2%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方近战部队(攻城单位除外)1.8%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>伊比希#13</string>
			<string>莫德#20</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>强击呼应</string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方远程部队(攻城单位除外)1.2%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方远程部队(攻城单位除外)1.8%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>埃多#14</string>
			<string>兰姆#21</string>
			<string>沙克#27</string>
			<string>芬恩#31</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>龙咒之心</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙的攻速会下降6%</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙造成的魔法伤害会减少0.8%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙的攻速会下降9%</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙造成的魔法伤害会减少1.2%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>伊比希#13</string>
			<string>埃欧#16</string>
			<string>林德#22</string>
			<string>狄哈#25</string>
			<string>扎克#30</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>龙之抵抗</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会提升1.6%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，我方巨龙生命值低于10%时，会获得一个减伤95%的护盾，持续4秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会提升2.4%的血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，我方巨龙生命值低于10%时，会获得一个减伤95%的护盾，受治疗提升4%的护盾，持续4秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>莫沃#12</string>
			<string>布隆#17</string>
			<string>兰姆#21</string>
			<string>乌尔#26</string>
			<string>伊夫#32</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>护盾护佑</string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>战斗开始时，我方场上所有单位(巨龙除外)会获得一个护盾，护盾的值为单位自身最大生命值的1.2%，护盾最多持续15秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>战斗开始时，我方场上所有单位(巨龙除外)会获得一个护盾，护盾的值为单位自身最大生命值的1.2%，护盾最多持续25秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>莫沃#12</string>
			<string>萨克#19</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>龙之护盾</string>
		<key>mainStone</key>
		<string>博德#4</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会提升1.6%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会获得一个护盾，护盾的值为巨龙自身最大生命值的3.2%，护盾最多持续15秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会提升2.4%的血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，我方巨龙会获得一个护盾，护盾的值为巨龙自身最大生命值的3.2%，护盾最多持续15秒。护盾消失后，永久提升巨龙2%的伤害。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>博德#4</string>
			<string>查姆#11</string>
			<string>莫德#20</string>
			<string>泽特#24</string>
			<string>扎克#30</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>伤口感染</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升5%暴击率和6%暴击伤害</string>
		<key>subSkill</key>
		<string>穿戴英雄暴击时，会对目标造成其0.6%最大生命值的物理伤害。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升5%暴击率和10%暴击伤害</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄暴击时，会对目标造成其1%最大生命值的物理伤害。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>杰菲#10</string>
			<string>布隆#17</string>
			<string>莫德#20</string>
			<string>普尔#28</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>巨型威压</string>
		<key>mainStone</key>
		<string>多尔#5</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方巨型单位1.2%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方巨型单位1.8%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>多尔#5</string>
			<string>查姆#11</string>
			<string>布隆#17</string>
			<string>萨克#19</string>
			<string>普尔#28</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>强壮身形</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方大型单位1.2%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方大型单位1.8%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>查姆#11</string>
			<string>埃欧#16</string>
			<string>林德#22</string>
			<string>狄哈#25</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>以小搏大</string>
		<key>mainStone</key>
		<string>耶尔德#6</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方非巨型非大型单位1.2%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方非巨型非大型单位1.8%的血量上限和攻击力。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>耶尔德#6</string>
			<string>伊比希#13</string>
			<string>赫尔#18</string>
			<string>兰姆#21</string>
			<string>沙克#27</string>
			<string>盖兹#29</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>致死打击</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄攻击力提升6%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄普通攻击时，会附带目标已损失血量0.2%的真实伤害。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄攻击力提升9%攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄普通攻击时，会附带目标已损失血量0.3%的真实伤害。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>埃多#14</string>
			<string>欧特#15</string>
			<string>亚图鲁#23</string>
			<string>普尔#28</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>雷龙之力</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄射程提升4%，命中率提升4%</string>
		<key>subSkill</key>
		<string>穿戴英雄普攻攻击时有15%概率释放雷龙之力，对目标范围内敌人造成24%单次攻击的闪电伤害(同名套装仅生效一个)，觉醒后范围提升30%</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄射程提升4%，命中率提升6%</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄普攻攻击时有15%概率释放雷龙之力，对目标范围内敌人造成16%单次攻击的闪电伤害(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>伊比希#13</string>
			<string>埃欧#16</string>
			<string>林德#22</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>紧急苏生</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄闪避率提升4%，受治疗效果提升4%</string>
		<key>subSkill</key>
		<string>穿戴英雄生命值首次低于30%时，会提升自身10%的闪避率，同时每秒恢复1%最大生命值的血量，持续10秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄闪避率提升5%，受治疗效果提升8%</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄生命值首次低于30%时，会提升自身12%的闪避率，同时每秒恢复1%最大生命值的血量，持续15秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>杰菲#10</string>
			<string>埃欧#16</string>
			<string>亚图鲁#23</string>
			<string>狄哈#25</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>恃强凌弱</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%的血量上限和攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄攻击时，若目标当前血量小于穿戴者当前血量，则额外造成4%伤害，穿戴英雄受到攻击时，若攻击者当前血量小于穿戴者当前血量，则减少受到伤害的4%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升6%的血量上限和攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄攻击时，若目标当前血量小于穿戴者当前血量，则额外造成6%伤害，穿戴英雄受到攻击时，若攻击者当前血量小于穿戴者当前血量，则减少受到伤害的5%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>查姆#11</string>
			<string>赫尔#18</string>
			<string>兰姆#21</string>
			<string>扎克#30</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>阿瓦达之咒</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，降低场上所有敌方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，每隔15秒会选择一个随机敌方军团/英雄，使其攻击力和血量上限在本局战斗内下降10%，可叠加。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，降低场上所有敌方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，每隔10秒会选择一个随机敌方军团/英雄，使其攻击力和血量上限在本局战斗内下降10%，可叠加。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>查姆#11</string>
			<string>埃多#14</string>
			<string>林德#22</string>
			<string>乌尔#26</string>
			<string>扎克#30</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>天使庇护</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>我方所有人形单位的攻击力和血量上限提升1.6%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>我方所有人形单位的攻击力和血量上限提升2.4%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>杰菲#10</string>
			<string>萨克#19</string>
			<string>泽特#24</string>
			<string>伊夫#32</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>亡灵盛宴</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>我方所有亡灵生物的攻击力和血量上限提升1.6%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>我方所有魔法生物的攻击力和血量上限提升2.4%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>查姆#11</string>
			<string>莫德#20</string>
			<string>狄哈#25</string>
			<string>芬恩#31</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>钢铁洪流</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>我方所有机械单位(攻城单位除外)的攻击力和血量上限提升1.6%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>我方所有魔法生物(攻城单位除外)的攻击力和血量上限提升2.4%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>莫沃#12</string>
			<string>兰姆#21</string>
			<string>乌尔#26</string>
			<string>扎克#30</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>生灵洗礼</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>我方所有魔法生物(巨龙除外)的攻击力和血量上限提升1.6%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>我方所有魔法生物(巨龙除外)的攻击力和血量上限提升2.4%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>林德#22</string>
			<string>沙克#27</string>
			<string>盖兹#29</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>驭龙有术</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.2%的血量上限和攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙的攻击力会下降0.8%，我方巨龙的攻击力会上升0.8%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.8%的血量上限和攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙的攻击力和血量会下降0.8%，我方巨龙的攻击力和血量会上升0.8%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>赫尔#18</string>
			<string>萨克#19</string>
			<string>沙克#27</string>
			<string>伊夫#32</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>神圣欢呼</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，每隔20秒，就会使我方一个随机人形单位军团士气高涨。(攻击力和血量提升效果同名光环仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，每隔20秒，就会使我方一个随机人形单位军团士气高涨，有20%的概率会额外使一个随机人形单位军团士气高涨。(攻击力和血量提升效果同名光环仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>埃多#14</string>
			<string>欧特#15</string>
			<string>乌尔#26</string>
			<string>芬恩#31</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>波动之力</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄释放技能后，会提升自身4%的攻击力，持续15秒，该效果可叠加。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄释放技能后，会提升自身4%的攻击力和4%的暴击伤害，持续15秒，该效果可叠加。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>莫沃#12</string>
			<string>泽特#24</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>控龙之音</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙降低1.2%的血量上限和攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，开场后15秒内，敌方巨龙的攻击力会下降3%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，敌方巨龙降低1.8%的血量上限和攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，开场后15秒内，敌方巨龙的攻击力会下降3%，敌方巨龙的生命值会下降2%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>杰菲#10</string>
			<string>赫尔#18</string>
			<string>萨克#19</string>
			<string>沙克#27</string>
			<string>盖兹#29</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>战意高昂</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升4%血量上限和攻击力</string>
		<key>subSkill</key>
		<string>每隔15秒，穿戴英雄都会恢复自身3%最大生命值的血量，并且提升自身4%攻击力，提升攻击力效果持续8秒</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升6%血量上限和攻击力</string>
		<key>awakeSubSkill</key>
		<string>每隔15秒，穿戴英雄都会恢复自身3%最大生命值的血量，并且提升自身4%攻击力和4%命中率，该增益效果持续8秒</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>查姆#11</string>
			<string>亚图鲁#23</string>
			<string>沙克#27</string>
			<string>普尔#28</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>狂暴巨龙</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.2%的血量上限和攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，我方巨龙的暴击率和暴击伤害提升1.5%。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.8%的血量上限和攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，我方巨龙的暴击率和暴击伤害提升3%。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>埃欧#16</string>
			<string>亚图鲁#23</string>
			<string>泽特#24</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>圣佑护盾</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄开场后会获得一个自身最大生命值4%的护盾，最多持续30秒，若护盾被提前打破，则穿戴英雄会立刻获得12%的伤害减免，持续30秒</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄开场后会获得一个自身最大生命值4%的护盾，最多持续30秒，若护盾被提前打破，则穿戴英雄会立刻获得12%的伤害减免和3%的闪避率，持续30秒</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>杰菲#10</string>
			<string>埃欧#16</string>
			<string>莫德#20</string>
			<string>盖兹#29</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>元素狂暴</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄造成的冰/火伤害会提升8%。(该效果对建筑单位不生效)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄造成的冰/火伤害会提升10%。(该效果对建筑单位不生效)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>林德#22</string>
			<string>乌尔#26</string>
			<string>普尔#28</string>
			<string>塔拉#36</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>力挽狂澜</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>战斗开始时，所有我方近战单位受到来自敌方英雄和巨龙的伤害减少2.4%，所有我方远程单位受到来自敌方英雄和巨龙的伤害减少1.6%，持续20秒。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>战斗开始时，所有我方近战单位受到来自敌方英雄和巨龙的伤害减少2.4%，所有我方远程单位受到来自敌方英雄和巨龙的伤害减少1.6%，持续30秒。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>查姆#11</string>
			<string>赫尔#18</string>
			<string>兰姆#21</string>
			<string>乌尔#26</string>
			<string>扎克#30</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>反噬屏障</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>战斗开始时，所有我方远程部队获得一个护盾，护盾的值为单位自身最大生命值的10%，护盾持续30秒。若护盾被提前击破，则降低击破护盾单位0.4%的攻击力和攻击速度，该效果持续20秒，且最多叠加15层。(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>战斗开始时，所有我方远程部队获得一个护盾，护盾的值为单位自身最大生命值的10%，护盾持续40秒。若护盾被提前击破，则降低击破护盾单位0.4%的攻击力和攻击速度，该效果持续30秒，且最多叠加15层。(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>埃欧#16</string>
			<string>莫德#20</string>
			<string>狄哈#25</string>
			<string>伊夫#32</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>龙之约束</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.2%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄在场上时，我方巨龙每次受到攻击后，会使自身受到的伤害减少0.3%，减伤效果持续3秒，且最多可叠加20层。(同名套装仅剩生效个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，我方巨龙提升1.8%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄在场上时，我方巨龙每次受到攻击后，会使自身受到的伤害减少0.3%，减伤效果持续5秒，且最多可叠加20层。(同名套装仅剩生效个)</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>伊比希#13</string>
			<string>林德#22</string>
			<string>乌尔#26</string>
			<string>盖兹#29</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>凝血护罩</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄血量首次低于30%时会获得一个护盾，护盾减免30%远程伤害，护盾效果每秒衰减3%</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%的血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄血量首次低于30%时会获得一个护盾，护盾减免30%远程伤害，护盾效果每秒衰减3%。护盾存在时，额外降低4%受到的魔法伤害</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>查姆#11</string>
			<string>埃多#14</string>
			<string>兰姆#21</string>
			<string>扎克#30</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>灵能分裂</string>
		<key>mainStone</key>
		<string>维克斯#1</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%攻击力</string>
		<key>subSkill</key>
		<string>穿戴英雄的召唤物普通攻击时，有5%概率使目标攻击力降低25%、命中率降低25%，该效果持续5秒，不可叠加</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%攻击力</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄的召唤物普通攻击时，有30%概率使目标攻击力降低25%、命中率降低25%，该效果持续5秒，不可叠加</string>
		<key>stoneArray</key>
		<array>
			<string>维克斯#1</string>
			<string>莫沃#12</string>
			<string>萨克#19</string>
			<string>狄哈#25</string>
			<string>普尔#28</string>
			<string>罗德拉#33</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>不死鸟</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄提升6%的血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄以牺牲自身造成伤害的40%为代价，获得1层不死鸟的护盾，每层护盾可以免除1次超过自身最大生命值8%的伤害，护盾触发后永久提升自身5%伤害减免和5%闪避率，可叠加</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄提升9%的血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄以牺牲自身造成伤害的40%为代价，获得1层不死鸟的护盾，每层护盾可以免除1次超过自身最大生命值8%的伤害，护盾触发后永久提升自身6%伤害减免和6%闪避率，可叠加</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>埃多#14</string>
			<string>欧特#15</string>
			<string>亚图鲁#23</string>
			<string>泽特#24</string>
			<string>普尔#28</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>萨满秘语</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)0.8%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>穿戴英雄每次释放主动技能时，为场上随机一个我方军团添加增益：近战部队获得5%伤害减免，远程部队获得5%攻击速度，该效果持续12秒，且最多叠加3层</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(巨龙除外)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>穿戴英雄每次释放主动技能时，为场上随机一个我方军团添加增益：近战部队获得5%伤害减免和3%的闪避率，远程部队获得5%攻击速度和5%的伤害提升，该效果持续12秒，且最多叠加3层</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>莫沃#12</string>
			<string>布隆#17</string>
			<string>林德#22</string>
			<string>盖兹#29</string>
			<string>艾辛#35</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>辉武之魂</string>
		<key>mainStone</key>
		<string>法尔#2</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>场上所有我方英雄的物理伤害提升7.5%(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>场上所有我方英雄的物理伤害提升11.3%(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>法尔#2</string>
			<string>查姆#11</string>
			<string>赫尔#18</string>
			<string>兰姆#21</string>
			<string>芬恩#31</string>
			<string>尼尔#34</string>
		</array>
	</dict>
	<dict>
		<key>isCanAwake</key>
		<true/>
		<key>hunXiaName</key>
		<string>辉影之魂</string>
		<key>mainStone</key>
		<string>乌玛#3</string>
		<key>mainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)0.6%的攻击力和血量上限</string>
		<key>subSkill</key>
		<string>场上所有我方英雄的魔法伤害提升7.5%(同名套装仅生效一个)</string>
		<key>awakeMainSkill</key>
		<string>穿戴英雄在场上时，提升场上所有我方单位(包括巨龙)1.2%的攻击力和血量上限</string>
		<key>awakeSubSkill</key>
		<string>场上所有我方英雄的魔法伤害提升11.3%(同名套装仅生效一个)</string>
		<key>stoneArray</key>
		<array>
			<string>乌玛#3</string>
			<string>莫沃#12</string>
			<string>赫尔#18</string>
			<string>萨克#19</string>
			<string>乌尔#26</string>
			<string>伊夫#32</string>
		</array>
	</dict>
</array>
</plist>
