<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1002</key>
	<string>JYJYViewController</string>
	<key>1001</key>
	<string>PersonalBaseViewController</string>
	<key>1000</key>
	<string>HomeBaseViewController</string>
</dict>
</plist>
